
.day {
  background-color: blue;
}

.hour-col {
  display: inline-block;
}

.hour-slot {
  padding: 5px;
  height: 50px;
  width: 100px;
  text-align: right;
}

.border-top {
  border-top: solid 1px #CCC;
}
