* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

.grid {
  position: relative;
}

.day-col {

}

.relative {
  position: relative;
}

.event {
  background-color: teal;
  border: solid 1px #05401E;
  min-height: 10px;
  position: absolute;
  opacity: 0.7;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.valign-top {
  vertical-align: top;
}

.soft {
  padding: 5px 20px;
}

.hour-slot {
  height: 40px;
  min-width: 200px;
  position: relative;
  text-align: right;
}

.border-top {
  border-top: solid 1px #CCC;
}
