{
  "parser": "babel-eslint",
  "rules": {
    "brace-style": 1,
  },
  "globals": {
    "$": true,
    "console": true,
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "expect": true,
    "jQuery": true,
    "require": true,
    "xdescribe": true,
    "xit": true
  },
  "env": {
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true
  }
}
